.dashboard-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 300px;
    margin: 100px auto;
  }
  
  .dashboard-btn {
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }