body {
    margin: 0;
    font-family: Arial, sans-serif;
  }
  
  .login-container {
    display: flex;
    flex-direction: column;
    width: 300px;
    margin: 100px auto;
    gap: 15px;
  }
  
  .login-container input {
    padding: 10px;
  }
  
  .login-container button {
    padding: 10px;
    cursor: pointer;
  }
  .login-btn {
    padding: 12px;
    background-color: #4f46e5;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .login-btn:hover {
    background-color: #4338ca;
  }